@model List<WebApp.ViewModels.RestaurantView>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <h2>List of restaurants currently available**</h2>


    @using (Html.BeginForm())
    {
        <p>
            Filter by outcode: @Html.TextBox("searchString", "se19")
            <input type="submit" value="Search"/>
        </p>
    }


    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Types of food
                </th>
            </tr>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RatingAverage)
                        </td>
                        <td>
                            @Html.DropDownList("FoodTypes", item.FoodTypes);
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>